[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
altair = "*"
matplotlib = "*"
sentence-transformers = "*"
bertopic = "*"
plotly = "*"
streamlit_plotly_events = "*"
ideo-topic-modeler = {path = "."}

[dev-packages]

[requires]
python_version = "3.10"
